<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<table border="1">

    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Email</th>
    </tr>

<tr th:each="person : ${people}">
     <td><a th:href="@{/admin/{id}(id=${person.getId()})}" th:utext="${person.getName()}">Name</a></td>
     <td th:text="${person.getAge()}">Age</td>
     <td th:text="${person.getEmail()}">Email</td>
</tr>



</table>

<br/>
<hr/>

<a href="/admin/new">Create new person</a>

<br/>
<hr/>

<a th:href="@{/logout}">Sign Out</a>

</body>
</html>